

.create-account-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightblue;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #0066cc;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.2);
}

.form-actions {
  display: flex;
  justify-content: center;
}

.form-actions button {
  padding: 12px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-actions button:hover {
  background-color: #005bb5;
}

.form-actions button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.2);
}


.error-message {
  color: #ff4d4d;
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 600px) {
  form {
    width: 90%;
    padding: 20px;
  }
}
