.dashboard {
  background-color: lightgray;
  margin-left: 15%;
  margin-right: 5%;
  height: 80%;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.big-password-container {
  background-color: lightgray;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin-bottom to space out the containers */
  display: flex;
  align-items: center; 
  flex-direction: column;
  max-height: none;
  padding-bottom: 2%;

  /* justify-content:space-around; */
}

.small-password-container {
  z-index: 2;
  background-color: white;
  width: 90%;
  border-radius: 10px;
  /* margin: 10px 0;  */
  padding: 10px;
  border: 1px solid #bdc3c7;
  transition: margin-top .5s;
}

.small-password-container.expanded {
  margin-top: 1px; /* Adjust the margin when expanded */
}


.small-password-container:hover {
  background-color: #e1e2e2;
}


.password-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-row img.app-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.password-row .app-name {
  flex: 1;
  font-weight: bold;
}

.password-row .username {
  flex: 2;
}

.password-row .password-last-changed{
  flex: 4;
}

.password-row .password-date-added{
  flex:3;
}

.password-row .select-box,
.password-row .star-box,
.password-row .delete-box {
  margin-left: 10px;
}

.password-row .select-box {
  width: 16px;
  height: 16px;
}

.password-row .star-box,
.password-row .delete-box {
  cursor: pointer;
}

.password-row .star-box:hover,
.password-row .delete-box:hover {
  color: #3498db;
}

.subcategories {
  background-color: rgb(73, 72, 72);
  font-size: 0.9em; /* smaller font size */
  padding-left: 20px; /* indentation to distinguish subcategories */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.subcategories.open {
  max-height: 500px; /* Adjust this value to a reasonable maximum height */
}

.subcategories li {
  margin: 5px 0; /* spacing between subcategory items */
}

.category-title {
  padding-top: 1.5%;
  width: 90%;
  border-radius: 10px;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 25px;
  font-weight: 500;
  color: rgb(73, 72, 72);
}

.password-search {
  background-color: lightgray;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Center the search bar */
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 600px; /* Limit the width of the search bar */
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.password-details {
  z-index: 1;
  background-color: #bebebe;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-details button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: white;

}

.password-details button:hover {
  background-color: #2980b9;
}

.password-details-enter{
  animation: slideDownPass 0.5s forwards;
}

.password-details-exit{
  animation: slideUpPass 0.5s forwards;
}

@keyframes slideDownPass {

  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpPass {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}







.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label .toggle-text {
  position: absolute;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  z-index: 1;
}

.toggle-label .toggle-text:first-child {
  left: 10px;
}

.toggle-label .toggle-text:last-child {
  right: 10px;
}

.toggle-handle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-input:checked + .toggle-label .toggle-handle {
  transform: translateX(50px);
}